################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodinGame.Client/obj
/CodinGame.Client/bin/Debug/netstandard2.0
